<div id="page-content">
  <h1 xmlns="http://www.w3.org/1999/html" class="center mt-4">Listing all articles</h1>
  <div class="container">
    <% @article.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
              by Minh Tuan
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-danger" %></h5>
              <p class="card-text"><%= (truncate(article.description, length: 100) { link_to "Continue", "#{article_path(article)}" }) %></p>
              <%= link_to "Edit this article", edit_article_url(article), class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "Delete this article", article_path(article), method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Do you want to delete this article ?" } %>
            </div>
            <div class="card-header text-muted">
              <small>
                Created <%= time_ago_in_words(article.created_at) %> ago,
                edited <%= time_ago_in_words(article.updated_at) %> ago
              </small>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<!--  <div class="row all-article">-->
<!--    <div class="col-sm-8 offset-sm-2">-->
<!--      <div class="card card-body bg-light col-sm-8 offset-sm-2">-->
<!--        <div class="article-title">-->
<%#= link_to article.title, article_path(article) %>
<!--        </div>-->
<!--        <div class="article-body">-->
<%#= (truncate(article.description, length: 100) { link_to "Continue", "#{article_path(article)}" }) %>
<!--        </div>-->
<!--        <div class="article-action">-->
<%#= link_to "Edit this article", edit_article_url(article), class: "btn btn-sm btn-primary" %>
<%#= link_to "Delete this article", article_path(article), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Do you want to delete this article ?" } %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


