<div id="page-content">
  <h2 xmlns="http://www.w3.org/1999/html" class="center mt-4">Topic: <%= @article.title %></h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 mt-4 mb-2">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if @article.user %>
              by <%= link_to @article.user.username, user_path(@article.user) %>
            <% end %>
            <%= link_to gravatar_for(@article.user, size: 75), user_path(@article.user) %>
            <% if @article.categories.any? %>
              <div class="mt-2">
                <%= render @article.categories %>
                <%# @article.categories.each do | test | %>
                    <%#= link_to "#{test[:name]}", category_path(test), class:"badge badge-pill badge-info mr-1" %>
                <%# end %>
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-text text-left">
              <%= simple_format(@article.description) %>
            </div>
            <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
              <%= link_to "Edit", edit_article_url(@article), class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "Delete", article_path(@article), method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Do you want to delete this article ?" } %>
            <% end %>
          </div>
          <div class="card-header text-muted">
            <small>
              Created <%= time_ago_in_words(@article.created_at) %> ago,
              edited <%= time_ago_in_words(@article.updated_at) %> ago
            </small>
          </div>
        </div>
      </div>
      <div class="col-8 center mt-2 mb-4">
        <%= link_to "[ Back to articles listing ]", articles_path, class: "mb-4" %>
      </div>
    </div>
<!--    <div class="col-sm-6 offset-sm-4 mb-4 justify-content-center">-->
      <%#= link_to "[ Back to articles listing ]", articles_path, class: "mb-4" %>
<!--    </div>-->
  </div>
</div>