<div class="container">
  <%= render 'shares/errors', obj: @user %>
  <div class='row mt-4 mb-4'>
    <div class='col-md-12'>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <%= f.label :username, class: "font-weight-bold" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :username, class: "form-control", placeholder: "Enter a username", autofocus: true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <%= f.label :email, class: "font-weight-bold" %>
          </div>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter a email", autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 col-form-label">
            <%= f.label :password, class: "font-weight-bold" %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", placeholder: "Choose a password", autofocus: true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit "Sign up", class: "btn btn-danger btn-lg" %>
          </div>
        </div>
      <% end %>
      <div class="col-sm-5 offset-sm-5">
        <%= link_to "[ Back to articles listing ]", articles_path, class: "mb-4" %>
      </div>
    </div>
  </div>
</div>